@inherits ToastBase

<style>
    .container{
        display:inline-block;
        width:@width;
        height:@height;
        color:white;
        background-color:transparent;
        position:absolute;
        z-index:2;
    }

    .fade-out{
       animation: fade @AnimationTime linear forwards;
    }

    .fade-in{
       animation: fadeIn @AnimationTime linear forwards;
    }

    .spin-in{
       animation: spin @AnimationTime linear forwards;
    }

    @@keyframes fade {
      0%   {opacity:1;}
      99%  {width:@width; height:@height;}
      100% {width:0px;height:0px; opacity:0;}
    }

    @@keyframes spin {
      0%   {width:0px;height:0px; transform: rotate(0deg);}
      99%  {width:@width; height:@height;}
      100% {width:@width;height:@height;transform: rotate(1440deg);}
    }

    @@keyframes fadeIn {
        0%  { opacity:0; }
        99% { width:@width; height:@height;}
        100%{ opacity:1; width:@width; height:@height; }
    }
</style>

<div class="container @(IsShown ? "fade-in" : "fade-out") @BackgroundCssClass">
    <div class="toast-icon">
        <span class="fa fa-@IconCssClass" aria-hidden="true"></span>&nbsp;<h5 style="display:inline;">@Heading</h5>
    </div>
    <div class="toast-body">
        <p>@Message</p>
    </div>
</div>

